*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


nav {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-top: 25px;
    margin-bottom: 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}

.logo{
    height: 70px;
}

.menu ul{
    font-size: 30px;
    font-weight: 300;
    color: white;
    display: flex;
    gap: 60px;
    cursor: pointer;
}

.menu ul li{
    list-style: none;
}

.btn {
    height: 40px;
    width: 130px;
    background-color: purple;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.hero{
    background: url(./bg.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    padding-top: 350px;
}

.hero h1{
    font-size: 80px;
    color: white;
    font-weight: 600;
}

.hero p{
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.btnn{
    height: 40px;
    width: 270px;
    background-color: purple;
    color: white;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    margin-top: 50px;
}